*, p {
  margin: 0;
  padding: 0; }

.wrap {
  width: 700px;
  height: 600px;
  background-color: whitesmoke; }

.reg-photo {
  width: 100%;
  height: 400px;
  padding-top: 50px; }
  .reg-photo-box {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 0 auto; }
    .reg-photo-box img {
      min-height: 100%;
      min-width: 100%;
      max-width: 200%;
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.reg-msg {
  font-size: 25px;
  width: 100%;
  text-align: center; }

.btn-box {
  margin: 40px;
  font-size: 25px;
  text-align: center; }

.fz-35 {
  font-size: 35px; }

.header-menu {
  width: 100%;
  height: 70px;
  position: relative;
  border-bottom: 1px solid grey;
  box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.3); }

.ava-name {
  display: block;
  float: left;
  width: 25%; }
  .ava-name-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    float: left;
    margin: 5px 10px; }
    .ava-name-img img {
      min-height: 100%;
      min-width: 100%;
      max-width: 100%;
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .ava-name a {
    display: block;
    float: left;
    line-height: 70px; }

.main-menu {
  display: block;
  float: left;
  width: 75%; }
  .main-menu ul {
    text-align: center;
    padding: 0;
    margin: 0; }
    .main-menu ul li {
      display: inline-block; }
      .main-menu ul li a {
        line-height: 70px;
        padding: 10px 20px;
        text-decoration: none; }
        .main-menu ul li a:hover {
          background-color: grey; }

.main-admin-menu {
  display: block;
  float: left;
  width: 100%;
  border-bottom: 1px solid grey;
  box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.3); }
  .main-admin-menu ul {
    text-align: center;
    padding: 0;
    margin: 0; }
    .main-admin-menu ul li {
      display: inline-block; }
      .main-admin-menu ul li a {
        line-height: 70px;
        padding: 10px 20px;
        text-decoration: none; }
        .main-admin-menu ul li a:hover {
          background-color: grey; }

.c-hours-grid {
  width: 50%;
  float: left;
  height: 333px; }
  .c-hours-grid-title {
    width: 100%;
    height: 12%;
    float: left;
    display: block;
    background-color: #7091b7;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-weight: bold; }
  .c-hours-grid-body {
    width: 97%;
    display: block;
    float: left;
    height: 293px;
    overflow: auto;
    padding-left: 4px; }
    .c-hours-grid-body-item {
      padding: 5px;
      display: block;
      float: left;
      width: 19%;
      border: 1px solid grey;
      border-radius: 4px;
      margin: 5px;
      cursor: pointer; }
      .c-hours-grid-body-item:hover {
        background-color: #879bbc; }
      .c-hours-grid-body-item-active {
        background-color: #7091b7; }
    .c-hours-grid-body-hr {
      width: 100%;
      display: block;
      float: left;
      height: 2px; }

.search {
  padding: 10px; }
  .search-city {
    margin-top: 20px;
    display: block; }
  .search-service {
    margin-top: 20px;
    display: block; }

.result-item {
  display: block;
  float: left;
  width: 140px;
  height: 200px;
  margin: 20px; }
  .result-item-photo {
    width: 140px;
    height: 140px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden; }
    .result-item-photo img {
      min-height: 100%;
      min-width: 100%;
      max-width: 100%;
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .result-item-name {
    width: 140px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
